body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(199, 199, 199);
    height: 100vh;
}

.Cell {
    height: 100px;
    width: 100px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
  }
  
  .Cell-lit {
    background-color: rgb(255, 230, 0);
  }